{% extends 'index.html'%}
{% block content %}
<meta http-equiv="refresh" content="60">
<center>
    <table class='progress-summary' style="font-size: 2rem" border='1'>
        <thead>
            {% for header_count in headers_count %}
            <th style="padding: 2px 6px; background-color: #eee; text-align: center;">{{ header_count }}</th>
            {% endfor %}
        </thead>
        <tbody>
            <tr>
                {% for v in count %}
                <td style="text-align: center;">{{v}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <br>
    <table class='progress-summary' style="font-size: 2rem" border='1'>
        <thead>
            {% for header_count2 in headers_School_name %}
            <th style="padding: 2px 6px; background-color: #eee; text-align: center;">{{ header_count2 }}</th>
            {% endfor %}
        </thead>
        <tbody>
            <tr>
                {% for sc in School_names %}
                <td style="text-align: center;">{{sc}}</td>
                {% endfor %}
            </tr>
        </tbody>
    </table>


</div>
</center>
{% endblock %}

